/samples/cordova-plugin-appaloosa-test/platforms
/samples/cordova-plugin-appaloosa-test/plugins
.idea
/samples/cordova-ionic-appaloosa-test/platforms
/samples/cordova-ionic-appaloosa-test/plugins
/samples/cordova-ionic-appaloosa-test/node_modules
