<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-appaloosa-tests"
        version="1.1.2-dev">
    <name>Cordova Plugin Appaloosa Tests</name>
    <license>The MIT License (MIT)</license>

    <js-module src="tests.js" name="tests">
    </js-module>
</plugin>